.sql-icon {
    width: 9rem;
    float: left;
    margin-right: 30px;
}
.webdev-icon {
    width: 5rem;
    float: right;
    margin-left: 30px;
}
.skill-row {
    width: 66%;
    margin: 50px auto;
    text-align: left;
}
/* TODO - Downsize the images! */
