/* CAREER STRIPS */
.career-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

#career-root hr {
    margin: 14px auto;
    border-top: 1px dashed grey;
}

.career-image-container {
    flex: 0 0 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.career-image-container p:first-child {
    font-weight: bold;
    margin-top: 10px;
}

.career-image-container p {
    margin: 6px 0;
}

.career-bullets-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    flex: 1 1 300px;
}

.career-bullets-container ul {
    margin: 0;
}

.career-bullets-container li {
    margin-bottom: 6px;
}

.career-bullets-container li:last-child {
    margin-bottom: 0;
}

/* CLASSES BULLETS */
.classes-header {
    margin-bottom: 12px;
}
#classes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: min(100%, 650px);
    margin: 0 auto;
}

#classes-container ul {
    flex: 1 1 auto;
    margin: 0;
}

#classes-container li {
    list-style: initial;
    text-align: left;
    margin: 4px 0 0 0;
}

#classes-container p {
    font-weight: bold;
    margin: 12px 0 12px 0;
}

/* RESUME */
.resume-btns-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.resume-btns-container a {
    margin: 0 12px;
    width: 160px;
}

/* PDF VIEWER */
.pdf-viewer {
    display: none;
    width: 95%;
    position: static;
    top: 0;
}

.pdf-viewer-active {
    display: inline;
    height: 500px;
}
