/* CAREER STRIPS */
.career-container {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    width: 66%;
    margin: 0 auto;
}

.career-image-container {
    flex: 0 0 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.career-image-container p:first-child {
    font-weight: bold;
}

.career-image-container p {
    margin: 6px 0;
}

.career-bullets-container {
    text-align: left;
    flex: 1 1 300px;
}

.sql-icon {
    width: 9rem;
    float: left;
    margin-right: 30px;
}
.webdev-icon {
    width: 5rem;
    float: left;
    margin-left: 30px;
}
.skill-row {
    width: 66%;
    margin: 50px auto;
    text-align: left;
}
/* TODO - Downsize the images! */

/* CLASSES BULLETS */
#classes-container {
    display: flex;
    justify-content: center;
}

#classes-container ul {
    flex: 0 1 auto;
    margin: 0 36px;
}

#classes-container li {
    list-style: initial;
    text-align: left;
    margin: 4px 0 0 0;
}

#classes-container p {
    font-weight: bold;
    margin: 0 0 12px 0;
}

/* CAREER TABLE */
#career-container table {
    margin: 0 auto;
}

#career-container thead {
    text-align: center;
}

#career-container tbody {
    text-align: left;
}

#career-container td {
    padding: 4px 24px;
}

.pdf-viewer {
    display: none;
    width: 95%;
    position: static;
    top: 0;
}

.pdf-viewer-active {
    display: inline;
    height: 500px;
}
