nav {
    padding: 0.8rem;
    background-color: #11999e;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    color: #eaf6f6;
    text-decoration: none;
    text-align: center;
    padding: 0.8rem 0.8rem;
}

nav a:hover {
    opacity: 0.5;
}

.active-nav {
    background-color: grey;
}

.active-nav:hover {
    opacity: 0.7;
}
