nav {
    padding: 0.8rem;
    background-color: #2b7a78;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    box-shadow: 0 1px 4px black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    color: #bfd9e2;
    text-decoration: none;
    text-align: center;
    padding: 0.8rem 0.8rem;
}

nav a:hover {
    background-color: #3aafa9;
    color: #feffff;
}

.active-nav {
    color: #feffff;
}

.active-nav:hover {
    /* opacity: 0.7; */
}
