#slideshow-container {
    position: relative;
    display: inline-block;
    border: 1px solid black;
    box-shadow: -1px 1px 3px grey;
}

.slideshow-pic {
    display: none;
    max-height: 85vh;
}

.slideshow-pic-active {
    display: block;
}

.slideshow-overlay-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: block;
    width: 100%;
    background-color: #feffff;
}
.slideshow-caption {
    color: black;
    display: none;
    flex: 1 1 300px;
    padding: 0;
    margin: 8px 0;
}
.slideshow-caption-active {
    display: inline-block;
}
.direction-btn {
    font-size: 24px;
    color: black;
    flex: 0 0 50px;
    padding: 0;
    border: none;
    background-color: transparent;
}
.direction-btn:hover {
    background-color: lightgray;
}

#previous-btn {
    left: 0;
}

#next-btn {
    right: 0;
}
