#slideshow-container {
    position: relative;
    display: inline-block;
    border: 1px solid black;
    box-shadow: -1px 1px 3px grey;
}

.slideshow-pic {
    display: none;
    max-height: 85vh;
}

.slideshow-pic-active {
    display: block;
}

.slideshow-caption-container {
    z-index: 2;
    position: absolute;
    bottom: 0px;
    width: 99.8%;
}
.slideshow-caption {
    color: black;
    display: none;
    margin: auto;
    background-color: #feffff;
    opacity: 0.95;
    border: 1px solid #17252a;
    box-shadow: -1px 1px 3px grey;
    padding: 8px 0;
    width: 99.8%;
}

.slideshow-caption-active {
    display: inline-block;
}

.direction-btn {
    position: absolute;
    z-index: 1;
    height: 99%;
    bottom: 0;
    border: 0;
    background-color: black;
    color: white;
    opacity: 0.13;
    padding: 0 12px;
}
.direction-btn:hover {
    opacity: 0.6;
}

#previous-btn {
    left: 0;
}

#next-btn {
    right: 0;
}
