/* Used flexbox guide here:
https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

hr {
    width: 100%;
}

#projects-root {
    width: min(95%, 1200px);
    margin: auto;
}

.project-container {
    /* border: 1px solid lightblue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-container table {
    text-align: left;
    flex: 1 1 800px;
    padding: 16px;
}

.project-container th {
    vertical-align: top;
    width: 120px;
}

.project-container td {
    vertical-align: top;
    padding: 3px;
}

.img-container {
    flex: 0 0 160px;
    background-color: white;
    border: 1px solid grey;
    box-shadow: -2px 2px 5px grey;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 160px;
    padding: 16px;
    text-align: center;
}

.img-container img {
    width: 160px;
    margin: auto;
}

.img-container a {
    margin: 16px auto 0 auto;
}
