/* Used flexbox guide here:
https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.project-container {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-container dl {
    width: 100%;
    text-align: left;
}

.project-container dt {
    font-weight: bold;
}

.row-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 12px 0;
}

.row-container dt {
    flex: 0 0 130px;
}

.row-container dd {
    flex: 1 1 360px;
    margin: 0;
}

.img-container {
    background-color: #feffff;
    border: 1px solid grey;
    box-shadow: -2px 2px 5px grey;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 160px;
    padding: 16px;
    text-align: center;
    margin-right: 24px;
}

.img-container img {
    width: 160px;
    margin: auto;
}

.img-container a {
    margin: 16px auto 0 auto;
}
