body {
    margin: 0;
    color: #40514e;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 4.5rem;
    color: #66bfbf;
    margin: 0 auto 10px auto;
    line-height: 1.5;
}

h2 {
    font-size: 1.5rem;
    color: #66bfbf;
    margin: 0;
    font-weight: normal;
}

h3 {
    color: #66bfbf;
}

a {
    color: #11999e;
}

a:hover {
    color: #eaf6f6;
}

main {
    padding-top: 50px;
}

hr {
    border-top: 5px dotted #66bfbf;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    width: 66%;
    margin: 30px auto;
}

.top-container {
    background-color: #f1fcfc;
}

.career {
    width: 66%;
    margin: 10px auto;
}
.projects {
    width: 66%;
    margin: 10px auto;
}
.skills {
    margin-bottom: 40px;
}
.skill-row {
    width: 66%;
    margin: 50px auto;
    text-align: left;
}
.headshot {
    border-radius: 75px;
    width: 150px;
}
.sql-icon {
    width: 9rem;
    float: left;
    margin-right: 30px;
}
.webdev-icon {
    width: 5rem;
    float: right;
    margin-left: 30px;
}
.btn {
    border-radius: 20px;
    height: 19px;
    line-height: 19px;
    color: #eaf6f6;
    width: 137px;
    font-size: 16px;
    font-weight: 100;
    padding: 11px;
    background-color: #11999e;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
