* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #40514e;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #feffff;
}

main {
    width: 66%;
    margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
    main {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    main {
        width: 90%;
    }
}

h1 {
    font-size: 3.5rem;
    color: #2b7a78;
    margin: 0 auto 10px auto;
    line-height: 1.5;
}

h2 {
    font-size: 1.5rem;
    color: #2b7a78;
    margin: 0;
    font-weight: normal;
    margin-bottom: 24px;
}

h3 {
    color: #2b7a78;
}

main {
    margin-top: 64px;
}

hr {
    border-top: 4px dotted #2b7a78;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin: 30px auto;
}

.btn {
    border-radius: 20px;
    height: 36px;
    line-height: 36px;
    color: #eaf6f6;
    width: 120px;
    padding: 0;
    background-color: #2b7a78;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border: 1px solid #17252a;
    box-shadow: -1px 1px 1px grey;
}

.btn:hover {
    background-color: #3aafa9;
}
